@mixin cta-pill {
  display: inline-block;
  background: $colorDefault;
  border: none;
  border-radius: 99em;
  font-size: 17px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.2s;
  &:hover,
  &:focus,
  &:active {
    background-color: #555;
  }
  &:global(.is-disabled) {
    background-color: #8c8c8c;
    cursor: default;
  }

  @include breakpoint(mobile) {
    font-size: 11px;
    line-height: 32px;
  }
}

